.first-section-heroes{
  height: 100%;
  width: 100%;
  background-color: black;
  border-top: 0.2rem solid rgb(160, 247, 135);
  color: rgba(208, 252, 207, 0.896);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.hero-card{
  background-color: rgba(208, 252, 207, 0.896);
  padding: 0.5rem;
  border-radius: 1rem;
  color: black;
  padding: 1rem;
  width: 22rem;
  height: 25rem;
}
.heroes-section-grid{
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}